# clear && find ../YAstarMM -iname "*.py" -exec grep -Hine "import" {} \; 2>/dev/null | sed 's/.*://' | grep -v "^\s" | awk '{print $2}' | sed 's/\..*//' | grep -v "^\s*$\|^from$\|^import$\|^YAstarMM$" | sort -V | uniq
#
PyYAML
Bottleneck			# recommended by pandas
ipython
numexpr			# recommended by pandas
numpy
openpyxl			# required by pandas.read_excel() for 'xlsx'
pandas
# xlrd				# versions >= 2.0, support only 'xls' format
